.custom_css_container {
    width: 90%;
    margin: 0 auto;
}

.btn_custom_data {
    background-color: #FF55BB;
    border: none;
    transition: .4s;
    border-radius: 8px;
    font-size: 16px;
}

.btn_custom_data:hover {
    background-color: #F7C8E0;
    color: black;
}