.navbar_img {
    width: 200px;
    margin-top: -60px;
    height: 120px;
}

.navbar_custom_cdd {
    margin-right: 170px;
    border: 1px solid black;
}

.navbar_img p {
    top: 110px;
    font-family: playfair display, serif;
}

.navbar_name {
    font-size: 22px;
    font-family: playfair display, serif;
    transition: .4s;
    border: none;
}

.navbar_name:hover {
    background-color: white;
    border-radius: 8px;
}

.container_navbar {
    min-height: 200px;
}

.user_img img {
    width: 100%;
    margin: 0 auto;
}

.info_container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.user_name {
    font-size: 18px;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {
    .navbar_img {
        width: 100px;
        margin-top: -20px;
        height: 70px;
        margin-bottom: 30px;
    }

    .navbar_img p {
        top: 80px;
    }

    .container_navbar {
        height: 230px;
    }

}