.navbar_img {
    width: 200px;
    margin-top: -60px;
    height: 120px;
}

.navbar_img p {
    top: 110px;
    font-family: playfair display, serif;
}

.navbar_name {
    font-size: 22px;
    font-family: playfair display, serif;
    transition: .4s;
    border: none;
}

.navbar_name:hover {
    background-color: white;
    border-radius: 8px;
}

.container_navbar {
    min-height: 200px;
}

.user_img img {
    width: 100%;
    margin: 0 auto;
}

.info_container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.user_name {
    font-size: 18px;
}

.btn_nav {
    border-radius: 8px;
    background-color: #f004a1;
    border: none;
    font-size: 17px;
    color: white;
    padding: 10px 20px;
    transition: .4s;
}

.btn_nav:hover {
    background-color: white;
    color: black;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {
    .navbar_img {
        width: 100px;
        margin-top: -20px;
        height: 70px;
        margin-bottom: 30px;
    }

    .navbar_img p {
        top: 80px;
    }

    .container_navbar {
        height: 230px;
    }

    .info_container {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .user_info {
        margin-left: 20px;
    }

    .user_img {
        width: 80px;
    }

    .user_img img {
        width: 100%;
        margin: 0 auto;
    }


}